*~
.DS_Store
log/*.log
tmp/**/*
tmp/restart.txt
doc/api
doc/app
backups/**
db/*.sqlite3vendor/gems/nokogiri-1.2.3/ext/nokogiri/Makefile
vendor/gems/nokogiri-1.2.3/ext/nokogiri/conftest.dSYM/**/*
vendor/gems/nokogiri-1.2.3/ext/nokogiri/*.o
vendor/gems/nokogiri-1.2.3/lib/nokogiri/native.bundle
