*~
.DS_Store
.rsync_cache
log/*.log
tmp/**/*
tmp/restart.txt
doc/api
doc/app
backups/**
db/*.sqlite3

# Ignore local builds of unpacked gems
vendor/gems/**/ext/**/Makefile
vendor/gems/**/ext/**/conftest.dSYM/**/*
vendor/gems/**/ext/**/*.o
vendor/gems/**/lib/**/native.bundle
