html, body {
  margin: 0;
  padding: 0;
  height: 55px;
}

body {
  background-color: #333;
  color: #c3c3c3;
  border-bottom: 5px solid #ff6633;
  font-size: 14px;
  font-family: verdana;
  /*border: 5px solid black;*/
}

.content {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

div.title {
  position: absolute;
  bottom: 10px;
  left: -8px;
}

.content .title a {
  font-size: 30px;
  color: #ff6633;
  text-decoration: none;
}

.help {
  background-color: #444444;
  color: #CCCCCC;
  font-size: 10px;
  overflow: hidden;
  padding: 5px;
  position:absolute;
  /*right: 8px;
  bottom: 0;*/
  top: 0px;
  right: 8px;
  width: 450px;
  /*height: 30px;*/
  text-align: left;
  border-bottom: 1px solid #555;
  border-right: 1px solid #555;
  border-left: 1px solid #555;
}

.help a {
  color: #ff6633; /*color:#CCCCCC;*/
}

.help a.title {
  color: #ff6633;
}

.help .highlight {
  color: #ffffff;
}
