div.top > h1 > a {
  margin-left: 10px !important; 
  font-size: 30px !important;
  width: auto !important;
}

div.top > h1 > a span {
  font-size: 20px !important;
  margin-left: 10px !important;
}

#refresh {
  margin: 5px 0 0 10px;
}

/*
div.results { margin: 20px 0; background: #F5DFD6 url('/img/ctr.gif') no-repeat top right; }
div.results > h2 { font-size: 20px; font-weight: normal; padding: 5px 0 5px 20px; color: #805B4D; background: transparent url('/img/ctl.gif') no-repeat top left; border-bottom: solid 10px #fff; }
div.results > div { float: right; color: #805B4D; padding: 10px 20px 0 0; font-size: 12px; }
div.results > div > a { color: #CC3A00; text-decoration: none; }
div.results > div > a:hover { color: #FF5511; text-decoration: underline; }
div.results > div > b { color: #6B3F2E; }
div.results > dl { display: block; background-color: #ffffff; border-bottom: solid 1px #F5DFD6; padding: 4px 0; }
div.results > dl > dt { display: block; width: 720px; margin-left: 2px; color: #75808A; font-size: 13px; white-space: nowrap; overflow-x: hidden; }
div.results > dl > dt > a { text-decoration: none; color: #336699; }
div.results > dl > dt > a:hover { text-decoration: underline; color: #FF5511; }
div.results > dl > dd { display: block; float: right; margin: -14px 0 0 0; font-size: 12px; width: 275px; }
div.results > dl > dd > span { display: block; float: left; text-align: right; }
div.results > dl > dd > span.a { width: 100px; }
div.results > dl > dd > span.s { width: 70px; }
div.results > dl > dd > span.u { width: 50px; color: #009600; }
div.results > dl > dd > span.d { width: 50px; color: #003DB9; }
div.results > dl > dd > span.pe { width: 170px; }
div.results > p { background: transparent url('/img/cbl.gif') no-repeat bottom left; border-top: solid 1px #fff; margin-top: -1px; height: 40px; font-size: 15px; }
div.results > p > span { display: block; background: transparent url('/img/cbr.gif') no-repeat bottom right; float: right; padding: 8px; }
div.results > p > span > span { display: block; float: left; padding: 2px 5px; margin: 0 2px; color: #CC8366; background-color: #fff; border: solid 1px #CC8366; }
div.results > p > span > a { display: block; float: left; padding: 2px 5px; margin: 0 2px; color: #CC3A00; background-color: #fff; border: solid 1px #CC3A00; text-decoration: none; }
div.results > p > span > a:hover { background-color: #FAEFEB; color: #FF5511; border-color: #FF5511; }
div.results > p > span > strong { display: block; float: left; padding: 2px 5px; margin: 0 2px; color: #CC8366; }
*/

div.results {
  clear: both;
  margin-top: 10px;
}

div.results > dl > dd > span.a.rating {
  width: 50px !important;
  color: #333;
}

div.results > dl > dd {
  width: 325px !important;
}

.rating_link {
  text-decoration: underline;  
}

.rating-fresh {
  color: #df2822;
}

.rating-rotten {
  color: #627d11;
}

.not-available {
  color: #999999;
}

.movie-info-container {
  z-index:100;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 50%;
  margin-left: -300px;
  height: 400px;
  width: 600px;
  overflow-y: auto;
  background-color: #333; /*#f1f1f1;*/
  border-left: 5px solid #ff6633;
  border-bottom: 5px solid #ff6633;
  border-right: 5px solid #ff6633;
  font-size: 12px;
  color: #eee;
}

.movie-info-container.loading-movie {
  font-size: 20px;
  margin: 0 auto;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #ff6633;
}

.movie-info {
  text-align: left;
  padding: 20px;
}

.movie-info a {
  color: #8FAECC;
}

.movie-info h1 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #ff6633;
}

.movie-info .rating {
  font-size: 50px;
  float: right;
  font-weight: bold;
  margin: -5px -5px 0 0;
}

.movie-info .left-pane {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;  
}

.movie-info .left-pane .movie-links, .movie-info .left-pane .movie-links a {
  color: #ff6633; 
  text-align: right;
  text-decoration: underline;
}

.movie-info img.movie-image {
  border: 5px solid #111;
}

.movie-info .movie_info_box {
  margin-left: 155px;
}

.movie-info .label {
  color: #FF9F7E; /* 50% sat of the #ff6633 */
  font-weight: bold;
  margin-right: 2px;
}

.movie-info div#movie_synopsis {
  margin:5px 5px 10px;
}

.movie-info div#movie_castcrew {
  margin:5px 5px 10px;
}

.ratings-help {
  background-color:#eee;
  border: 1px solid #444;
  color: #444;
  margin: 5px;
  padding: 5px;
  float:right;
  position: relative;
}

.comment-tl, .comment-tr, .comment-bl, .comment-br { position: absolute; width: 5px; height: 5px; background: transparent url(/images/sprite.png) no-repeat scroll 0 0; }
.comment-tl { top: -1px; left: -1px; background-position: 0 0; }
.comment-tr { top: -1px; right: -1px; background-position: -5px 0; }
.comment-bl { bottom: -1px; left: -1px; background-position: -10px 0; }
.comment-br { bottom: -1px; right: -1px; background-position: -15px 0; }
.comment-arrow { position: absolute; bottom: -10px; right: 15px; width: 10px; height: 10px; background: transparent url(/images/sprite.png) no-repeat scroll -20px 0; }