<% content_for :head, javascript_include_tag('header') + stylesheet_link_tag('header') %>
<div class="content">
  <div class="help">
    <a class="title" href="http://rottentorrentz.com">RottenTorrentz</a> 
    adds movie ratings from 
    <a href="http://rottentomatoes.com" target="_blank">RottenTomatoes.com</a> to 
    <a href="http://torrentz.com" target="_blank">Torrentz.com</a>
    listings.  
    <span class="highlight"  style="display: none;">Hover over the ratings to see movie info.</span>
  </div>
  <div class="title">
    <%= link_to('RottenTorrentz', root_path) %>
    movie info for your torrents
  </div>
</div>