.header
  .content
    .help
      = link_to('RottenTorrentz', root_path, :class => 'title')
      adds movie ratings from
      %a{ :href => "http://rottentomatoes.com", :target => "_blank" }
        RottenTomatoes.com
      to
      %a{ :href => "http://torrentz.com", :target => "_blank" }
        Torrentz.com
      listings.
    .title
      = link_to('RottenTorrentz', root_path)
      movie info for your torrents
.header-push-content
