%meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
%meta{ :name => "Subject", :content => "RottenTorrentz" }
%meta{ :name => "Description", :content => "RottenTorrentz includes information about your favourite movies and dvds right in your torrents listings, including movie ratings, synopsis and images from the popular movie-review site RottenTomatoes.com." }
%meta{ :name => "classificaton", :content => "movie torrent dvd blu-ray" }
%meta{ :name => "Keywords", :content => "torrent, torrents, movie, movies, ratings, reviews, synopsis, cast, crew, dvd, blu-ray, #{@keywords}" }
%meta{ :NAME => "Language", :CONTENT => "English" }
%meta{ :CONTENT => "NEVER", "HTTP-EQUIV" => "Expires" }
%meta{ :NAME => "Revisit-After", :CONTENT => "7 days" }
%meta{ :NAME => "Distribution", :CONTENT => "Global" }
%meta{ :NAME => "Robots", :CONTENT => "INDEX,FOLLOW" }
%meta{ :name => "verify-v1", :content => "kaCK/7UJ69wNXU4Z3jubwgH4WdoYQOjb4M1MuLWqN3g=" }
