%meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
%meta{ :name => "Subject", :content => SiteDefaults::META_SUBJECT }
%meta{ :name => "Description", :content => SiteDefaults::META_DESCRIPTION }
%meta{ :name => "classificaton", :content => SiteDefaults::META_CLASSIFICATION }
%meta{ :name => "Keywords", :content => "#{SiteDefaults::META_KEYWORDS}, #{@keywords}" }
%meta{ :NAME => "Language", :CONTENT => "English" }
%meta{ :CONTENT => "NEVER", "HTTP-EQUIV" => "Expires" }
%meta{ :NAME => "Revisit-After", :CONTENT => "7 days" }
%meta{ :NAME => "Distribution", :CONTENT => "Global" }
%meta{ :NAME => "Robots", :CONTENT => "INDEX,FOLLOW" }
%meta{ :name => "verify-v1", :content => "kaCK/7UJ69wNXU4Z3jubwgH4WdoYQOjb4M1MuLWqN3g=" }
